li {
    display: inline;
}

ul{
    margin: 0;
}

body {
    background: url(loginbg.webp)
    no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    background-color: transparent;
    overflow: hidden;
    border-bottom: 0.19rem solid rgba(0, 0, 0, .1);
}

.nav-links {
    color: rgba(0, 0, 0, .9);
    text-decoration: none;
    padding: 1.4rem;
    display: block;
    text-align: center;
    cursor: pointer;
    float: inline-end;
    font-weight: bold;
    font-family: 'Sedgwick Ave';
    transition: .5s;
}

.nav-links:hover{
    background-color: rgba(60,139,138,255);
}

.nav-logo {
    text-decoration: none;
    width: 1rem;
    padding: 1.3rem;
    display: block;
    cursor: pointer;
    float: inline-start;
}